{{!-- Client Side. --}}

<div class="flex-container">
  <div class="row">
    <span class="flex-item">
      <div class="container2">
        <div class="container">
          <div class="card" style="width: 40rem; height: auto;">
            <div class="card-header">
              <div id="card-header-two">
                <h3 class="h3Head">{{msg}}</h3>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title cardhead">Please review session details:</h5>
              <p class="card-text"></p>
              <form>
                <table>
                  <tr class="spaceUnder">
                    <td align="right">Service Provided:</td>
                    <td align="left"><input type="text" name="service_provided" id="service_provided" /></td>
                  </tr>
                  <tr class="spaceUnder">
                    <td align="left">Days Provided:</td>
                    <td align="left"><input type="text" name="days_provided" id="days_provided" placeholder="Monday or Tuesday" /></td>
                  </tr>
                  <tr class="spaceUnder">
                    <td align="left">Current Price:</td>
                    <td align="left"><input type="text" name="current_price" id="current_price" /></td>
                  </tr>
                  <tr class="spaceUnder">
                    <td align="left">Small Bio:</td>
                    <td align="left"><input type="text" name="small_bio" id="small_bio" /></td>
                  </tr>
                  <tr class="spaceUnderMore"></tr>
                  <td align="left"><button id='submit-data'>Submit</button></td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>
    </span>
  </div>
</div>



{{!--
service_provided
days_provided VARCHAR(100) NOT NULL,
current_price DECIMAL(4, 2) ZEROFILL NOT NULL,
small_bio VARCHAR(100) NOT NULL, --}}