
{{!-- Personal CSS LINKS HERE --}}
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <div id="wrapper">
      <h1>Vox Scrapper</h1>
      <h2><i>Scrapping the worlds news.</i></h2>
      <div id="articles">
     
        {{#each articles}}
         <p>{{title}} {{link}}</p>
        
        {{/each}}
      </div>
      <div id="notes"></div>
      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="/assets/js/app.js"></script>
  



